<%- include("header") -%>


<% if (lang=="en") { %>
  <div class="about-page">

    <div class="team-btn-div">
      <a class="btn btn-team" type="button" name="button">Our Team</a>
    </div>
  </div>
  <div class="team-page" id="teamPage">
    <h2>Our Team</h2>
    <div class="row">
      <div class="col-md-12 team-member">
        <img src="images/team-img-test.png" alt="my-pic">

        <h4>Victor and Yaneth</h4>
        <p>Victor and Yaneth had been living in Greer for several years and saw
          the need for the Hispanic community to have a place where the same
          language was spoken to them and where their needs were fully met.
          Motivated by this great need, on November 27, Mundo Latino
          Multiservicios opened its doors to that beautiful and brave Hispanic
          community and to anyone who needed our services.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Nohemí Riaño</h4>
        <p>Nohemí is a young and charismatic woman, originally from Mexico, with
          more than five years of experience and knowledge of our products. This
          makes her have an excellent attention to our clients and an agile
          development in her service.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Andres Felipe Gonzalez</h4>
        <p>A young Colombian, who has accompanied us on this walk for more than
          four years. Andres has a great knowledge, performance and development
          in systems, and can be trusted to respond with great mastery and speed
          in the service of our excellent products.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Norma Cinto</h4>
        <p>A tender and simple Guatemalan woman with more than three years she
          has delivered an excellent service, of providing ours in a simple,
          honest and loving way.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Yuridia Hernandez</h4>
        <p>Yuri as affectionate as can be, offers us her excellent service from
          Mexico. She accompanied us in person for more than four years and now
          offers us her great service virtually. Yuri is agile, attentive and
          with a great commitment not only to our clients, but also to Mundo
          Latino Multiservicios.</p>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="about-page">

    <div class="team-btn-div">
      <a class="btn btn-team" type="button" name="button">Nuestro Equipo</a>
    </div>
  </div>
  <div class="team-page" id="teamPage">
    <h2>Nuestro Equipo</h2>
    <div class="row">
      <div class="col-md-12 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Victor y Yaneth</h4>
        <p>Victor y Yaneth, llevaban varios anos viviendo en Greer y veían la
          necesidad de que tenia la comunidad hispana de tener un lugar donde, se
          les hablara el mismo idioma y donde sus necesidades fueran cubiertas en
          su totalidad. Motivados por esa gran necesidad, que el día 27 de
          noviembre, Mundo Latino Multiservicios abrió sus puertas a esa hermosa y
          valiente comunidad Hispana y a todo aquel, que necesitara de nuestros
          servicios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Nohemí Riaño</h4>
        <p>Nohemí es una joven y carismática mujer, oriunda de México, con mas de
          cinco anos de experiencia y conocimiento de nuestros productos. Esto hace
          que tenga una excelente atención a nuestro cliente y un ágil
          desenvolvimiento en sus servicio.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Andres Felipe Gonzalez</h4>
        <p>Joven Colombiano, que nos acompaña en este caminar por mas de cuatro
          años. Andres tiene un gran conocimiento, desempeño y desenvolvimiento en
          sistemas, punto a favor, para agilizar y responder con gran maestría en
          el servicio de nuestros excelentes productos.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Norma Cinto</h4>
        <p>Una tierna y sencilla mujer Guatemalteca con mas de tres anos
        acompañados a entregar su excelente servicio, a nuestros de una manera
        simple, honesta y amorosa.</p>
      </div>
      <div class="col-md-6 team-member">
        <img src="images/team-img-test.png" alt="my-pic">
        <h4>Yuridia Hernandez</h4>
        <p>Yuri como cariñosamente, le dimos nosotros y nuestros clientes, nos
        ofrece su excelente servicio desde México. Nos acompaño presencialmente
        por mas de cuatro anos y ahora nos ofrece su gran servicio de manera
        virtual. Yuri es ágil atenta y con un gran compromiso no solo con
        nuestros clientes , sino con Mundo Latino Multiservicios.</p>
      </div>
    </div>
  </div>

<% } %>
</div>
<%- include("footer") -%>
