<%- include("header") -%>
<div class="about-page">
  <div class="team-btn-div">
    <a class="btn btn-team" type="button" name="button">Our Team</a>
  </div>
</div>

<div class="team-page" id="teamPage">

</div>
<%- include("footer") -%>
