<%- include("header") -%>
<div class="about-page">
  <div class="team-btn-div">
    <a class="btn btn-team" type="button" name="button">Our Team</a>
  </div>
</div>

<div class="team-page" id="teamPage">
  <h2>Our Team</h2>
  <div class="row">
    <div class="col-md-6 team-member">
      <img src="images/team-img-test.png" alt="my-pic">
      <h4>Victor Canas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum.</p>
    </div>
    <div class="col-md-6 team-member">
      <img src="images/team-img-test.png" alt="my-pic">
      <h4>Victor Canas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 team-member">
      <img src="images/team-img-test.png" alt="my-pic">
      <h4>Victor Canas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum.</p>
    </div>
    <div class="col-lg-4 col-md-6 team-member">
      <img src="images/team-img-test.png" alt="my-pic">
      <h4>Victor Canas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum.</p>
    </div>
    <div class="col-lg-4 col-md-6 team-member">
      <img src="images/team-img-test.png" alt="my-pic">
      <h4>Victor Canas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum.</p>
    </div>
  </div>


</div>
<%- include("footer") -%>
