<%- include("header") -%>

<div class="contact-page">
  <h2 class="question-header">Have a Question?</h2>
  <form class="" action="index.html" method="post">
    <div class="">
      <label for="fullName">Full Name:</label>
      <input id="fullName" type="text" name="fullName" value="">
    </div>
    <div class="">
      <label for="fullName">Full Name:</label>
      <input id="fullName" type="text" name="fullName" value="">
    </div>
    <div class="">
      <label for="fullName">Full Name:</label>
      <input id="fullName" type="text" name="fullName" value="">
    </div>
    <div class="">
      <label for="fullName">Full Name:</label>
      <input id="fullName" type="text" name="fullName" value="">
    </div>
    <div class="">
      <label for="fullName">Full Name:</label>
      <input id="fullName" type="text" name="fullName" value="">
    </div>
    <div class="">
      <label for="fullName">Full Name:</label>
      <textarea name="name" rows="8" cols="80"></textarea>

    </div>

    <!-- <textarea id="fullName" type="text" name="fullName" value=""> -->

  </form>

</div>

<%- include("footer") -%>
