<%- include("header") -%>

<div class="contact-page">
  <h2 class="question-header"><%= contactUs[0] %></h2>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
</div>

<%- include("footer") -%>
