  <div class="contact-section">
    <h2 class="section-header">Contact</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h3 class="section-header">Greer</h3>
          <p><i class="fas fa-map-marker-alt"></i> 123 Some St. <br>
             <i class="fas fa-map-marker-alt hide"></i> Greer, SC 29650</p>
          <p><i class="fas fa-phone-alt"></i> (555)555-5555</p>
          <p><i class="fas fa-calendar-alt"></i> Mon-Fri: 9:00AM - 6:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> Sat: 10:00AM - 5:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> Sun: Closed</p>

        </div>
        <div class="col-lg-6 col-md-6">
          <h3 class="section-header">Greenville</h3>
          <p><i class="fas fa-map-marker-alt"></i> 123 Some St. <br>
             <i class="fas fa-map-marker-alt hide"></i> Greer, SC 29650</p>

          <p><i class="fas fa-phone-alt"></i> (555)555-5555</p>
          <p><i class="fas fa-calendar-alt"></i> Mon-Fri: 9:00AM - 6:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> Sat: 10:00AM - 5:00PM <br>
            <i class="fas fa-calendar-alt hide"></i> Sun: Closed</p>
        </div>
      </div>
      <hr class="contact-hr">
      <div class="row">
        <div class="col-12 soc-icon-container">
          <a href="https://www.facebook.com/Mundo-Latino-Multiservicios-1546302372153620">
            <i class="fab fa-facebook soc-icon" href="canasmh.github.io"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=18438347280">
            <i class="fab fa-whatsapp soc-icon"></i>
          </a>
          <a href="mailto:someone@yoursite.com">
            <i class="fas fa-envelope soc-icon"></i>
          </a>

          <!-- <i class="fab fa-facebook-f"></i> -->
          <!-- <i class="fab fa-facebook-square"></i> -->

          <!-- <i class="fab fa-whatsapp-square"></i> -->
          <!-- <i class="far fa-envelope"></i> -->

        </div>
        <!-- <hr class="contact-hr"> -->

      </div>
  </div>

  <footer>&copy Mundo Latino Multiservicios 2022</footer>

  </body>
</html>
