  <div class="contact-section">
    <h2 class="section-header">Contact</h2>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h3 class="section-header">Greer</h3>
          <p><i class="fas fa-map-marker-alt"></i> 123 Some St. <br>Greer, SC 29650</p>
          <p><i class="fas fa-phone-alt"></i> (555)555-5555</p>
          <p><i class="fas fa-envelope"></i> someemail@email.com</p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h3 class="section-header">Greenville</h3>
          <p><i class="fas fa-map-marker-alt"></i> 123 Some St.<br>Greenville, SC 29607</p>
          <p><i class="fas fa-phone-alt"></i> (555)555-5555</p>
          <p><i class="fas fa-envelope"></i> someemail@email.com</p>
        </div>
      </div>
  </div>

  <footer>&copy Mundo Latino Multiservicios 2022</footer>

  </body>
</html>
