<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2 class="welcome">Welcome</h2>
      <hr class="welcome-hr">
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios...</h1>
      <hr>
      <p class="motto">...We serve with joy! 😊</p>
      <div class="welome-buttons">
        <a class="btn es-btn" href="/es"><%= langButton %></a>
        <a class="btn quote-btn" href=" https://85f00e01-2392-47d4-a0f1-c2f3fd16b23c.quotes.iwantinsurance.com/auto">Get Quote</a>
      </div>
    </div>

  </div>
</div>

<div class="about-section">
  <img class="team-img"src="images/group-pic.png" alt="team-img">
  <% if (lang=="en")  { %>
    <h2 class="section-header">About Us</h2>
    <p>Mundo Latino Multiservices, MLM, has as its mission, to take advantage of
      the wonderful opportunity to love through SERVICE. At MLM, we serve with
      <b>joy, enthusiasm and efficiency,</b> on all the services that we offer.
      We offer our clients the confidence of being able to count on us, because
      our <i>SERVICE</i> is unconditional.</p>
  <% } else { %>
    <h2 class="section-header">Acerca de</h2>
    <p>Mundo Latino Multiservicios, MLM, tiene como misión, aprovechar la maravillosa
      oportunidad de amar, a través del SERVICIO. En MLM, estamos dispuestos a ejecutar
      con <b>alegría, entusiasmo y eficiencia, </b>todos los servicios que en el ofrecemos.
      Brindamos a nuestros clientes, la confianza de poder contar con nosotros,
      pues nuestro <i>SERVICIO</i> es incondicional.</p>
  <% }; %>
</div>

<div class="service-section">
  <h2 class="section-header">Our Services</h2>
  <p>Cubrimos sus necesidades de:</p>
  <div class="row service-row">
    <div class="col-lg-3 col-md-4 col-sm-12" style="text-align: center;">
      <i class="service-icon fas fa-shield"></i>
      <h4>Insurance</h4>
      <h6 >Car, Home, Apartments, Workers Comp., General Liability, Commercial Auto</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-car"></i>
      <!-- <i class="service-icon fas fa-money-check-edit-alt"></i> -->
      <h4>DMV Transactions</h4>
      <h6>License Plates, Transfers, Vehicle Registration, Decal Renewal, Automobile, Motorcycle, Trailer, Boat, Jet Ski</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fad fa-copy"></i>
      <h4>Document Services</h4>
      <h6>Fax, Copy, E-Mails, Translations, etc.</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-suitcase-rolling"></i>
      <h4>Travel Tickets</h4>
      <h6>Air, Sea and Land</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-stamp"></i>
      <h4>Public Notary, Marriage Officiant</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-money-check"></i>
      <h4>Money Order</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-envelope-open-dollar"></i>

      <h4>Wire Transfers</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-file-invoice-dollar"></i>
      <h4>Bill Payments</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-money-check-edit-alt"></i>
      <h4>Cash Checks</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-box-open"></i>
      <h4>Shipping to Central & South America</h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-mobile"></i>
      <h4>Buy, Activate, or Recharge Cell Phone</h4>
    </div>
  </div>
  <p class='many-more'>... and many more!</p>
</div>

<%- include("footer") -%>
