<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2 class="welcome">Welcome</h2>
      <hr class="welcome-hr">
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios...</h1>
      <hr>
      <p class="motto">...We serve with joy! 😊</p>
      <div class="welome-buttons">
        <a class="btn es-btn" href="/es">En español</a>
        <a class="btn quote-btn" href=" https://85f00e01-2392-47d4-a0f1-c2f3fd16b23c.quotes.iwantinsurance.com/auto">Get Quote</a>
      </div>
    </div>

  </div>
</div>

<div class="about-section">
  <img class="team-img"src="images/group-pic.png" alt="team-img">
  <h2 class="section-header">About Us</h2>
  <p>Somos una gran empresa, que motivada por el deseo de crecer internamente, ofrece a traves del servicio: "Lo mejor de cada uno"</p>
</div>

<div class="service-section">
  <h2 class="section-header">Our Services</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ultricies integer quis
    auctor elit sed. Amet mauris commodo quis imperdiet.</p>
  <div class="row service-row">
    <div class="col-lg-3 col-md-4 col-sm-12" style="text-align: center;">
      <i class="service-icon fas fa-shield"></i>
      <h5>Insurance</h5>
      <h6 >Car, Home, Apartments, Workers Comp., General Liability, Commercial Auto</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-car"></i>
      <!-- <i class="service-icon fas fa-money-check-edit-alt"></i> -->
      <h5>DMV Transactions</h5>
      <h6>License Plates, Transfers, Vehicle Registration, Decal Renewal, Automobile, Motorcycle, Trailer, Boat, Jet Ski</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fad fa-copy"></i>
      <h5>Document Services</h5>
      <h6>Fax, Copy, E-Mails, Translations, etc.</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-suitcase-rolling"></i>
      <h5>Travel Tickets</h5>
      <h6>Air, Sea and Land</h6>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-stamp"></i>
      <h5>Public Notary, Marriage Officiant</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-money-check"></i>
      <h5>Money Order</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-envelope-open-dollar"></i>

      <h5>Wire Transfers</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-file-invoice-dollar"></i>
      <h5>Bill Payments</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-money-check-edit-alt"></i>
      <h5>Cash Checks</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-box-open"></i>
      <h5>Shipping to Central & South America</h5>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <i class="service-icon fas fa-mobile"></i>
      <h5>Buy, Activate, or Recharge Cell Phone</h5>
    </div>
  </div>
  <p class='many-more'>... and many more!</p>
</div>

<%- include("footer") -%>
