<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2>Welcome</h2>
      <hr>
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios</h1>
      <hr>
      <p>We serve with joy! 😊</p>
    </div>
  </div>
</div>

<%- include("footer") -%>
