<%- include("header") -%>

<div class="welcome-section">
  <div class="row">
    <div class="welcome-banner col-lg-6">
      <h2>Welcome</h2>
      <hr>
      <h1 class="mlm-header">Mundo Latino <br>Multiservicios</h1>
      <hr>
      <p>We serve with joy! 😊</p>
      <div class="welome-buttons">
        <a class="btn es-btn" href="/es">En español</a>
        <a class="btn quote-btn" href="/get-quote">Get Quote</a>
        <!-- <button class="btn es-btn" type="submit" name="button" formaction="/" formmethod="post">En Español</button> -->
        <!-- <button class="btn quote-btn" type="submit" name="button" formaction="/get-quote" formmethod="get"><a href="/get-quote">Get Quote</a></button> -->
      <!-- </div> -->
      </div>
      <!-- <div class="row"> -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12"> -->

        <!-- <div class="col-6 col-md-6 col-sm-12"> -->

        <!-- </div> -->

      </div>


    </div>
  </div>
</div>

<div class="about-section">
  <h2 class="section-header">About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ultricies integer quis
    auctor elit sed. Amet mauris commodo quis imperdiet.</p>
</div>

<div class="service-section">
  <h2 class="section-header">Our Services</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ultricies integer quis
    auctor elit sed. Amet mauris commodo quis imperdiet.</p>
</div>

<%- include("footer") -%>
