/* Colors */
/* #00bef4 sky-blue in logo*/
/* #3A429A dark-blue in logo*/
/* #37000A dark magenta */
/* #D1BCE3 light-purple*/
/* #0098c2 pink olive*/
body {
  line-height: 2;
  letter-spacing: 3px;
}

@media only screen and (min-width: 600px) {
  .welcome-banner {
    width: 60vw;
    margin: auto 20vw;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.4rem;

  }
}
hr {
  width: 67%;
  margin: 1.5rem auto;
  color: #37000A;
}

/*
NAVBAR
*/
.nav-logo {
  height: 3rem;
  width: 9rem;
}

.dropdown-item, .nav-link {
  font-size: 1.2rem;
  color: #3A429A;
}

.dropdown-item:hover, .nav-link:hover {
  color: #00bef4;
  background: none;
}

.fal {
  font-size: 2rem;
  color: #3A429A;
}

@media only screen and (min-width: 992px) {
  .nav-logo {
    height: 3.5rem;
    width: 10.5rem;
  }

  .nav-link {
    margin: auto 0.5rem;
  }
}

/*


SECTIONS


*/

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

/*
Welcome Section
*/



.welcome-section {
  height: 80vh;
  display: flex;
  background-image: url("../images/phone-call.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  color: white;
}

.welcome-banner {
  margin: auto 10vw;
  width: 80vw;
  background-color: rgba(0, 190, 244, 0.9);
  border: 1px solid #3A429A;
  border-radius: 20%;
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mlm-header {
  color: #3A429A;
  text-shadow: 1px 1px #000;
}

@media only screen and (min-width: 600px) {
  .welcome-banner {
    width: 60vw;
    margin: auto 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .welcome-banner {
    width: 40vw;
    margin: auto 5rem;
  }

  .mlm-header {
    text-shadow: 2px 2px #000;
  }
}

/*
ABOUT US SECTION
*/

.about-section {
  color: #37000A;
  height: 80vh;
  padding: 15vh 5vw 10vh;
  background: rgba(209, 188, 227, 0.25)
}

/*
OUR SERVICES SECTION
*/

.service-section {
  color: #37000A;
  height: 80vh;
  padding: 15vh 5vw 10vh;
  background: rgb(0, 152, 194, 0.25)
}


/*
FOOTER
*/

footer {
  text-align: center;
  margin: 1rem 0;
}
