/* Colors */
/* #00bef4 sky-blue in logo*/
/* #3A429A dark-blue in logo*/
/* #37000A dark magenta */
/* #D1BCE3 light-purple*/
/* #0098c2 pink olive*/
body {
  line-height: 2;
  letter-spacing: 3px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;

}

hr {
  width: 67%;
  margin: 1rem auto;
  color: #3A429A;
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;

  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.4rem;

  }
}


/*
NAVBAR
*/
.nav-logo {
  height: 3rem;
  width: 9rem;
}

.dropdown-item, .nav-link {
  font-size: 1.2rem;
  color: #3A429A;
}

.dropdown-item:hover, .nav-link:hover {
  color: #00bef4;
  background: none;
}

.fal {
  font-size: 2rem;
  color: #3A429A;
}

.dropdown-divider {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .nav-logo {
    height: 3.5rem;
    width: 13rem;
  }

  .nav-link {
    margin: auto 0.5rem;
  }
}

/*


SECTIONS


*/

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

/*
Welcome Section
*/



.welcome-section {
  height: 80vh;
  display: flex;
  background-image: url("../images/phone-call.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  color: white;
}

.welcome-banner {
  margin: auto 10vw;
  width: 80vw;
  background-color: rgba(0, 190, 244, 0.9);
  border: 1px solid #3A429A;
  border-radius: 15%;
  text-align: center;
  min-height: 40vh;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

div.welcome-banner h2, hr.welcome-hr {
  display: none;
}

@media only screen and (min-width: 992px) {
  div.welcome-banner h2, hr.welcome-hr {
    display: block;
  }
}

.mlm-header {
  color: #3A429A;
  text-shadow: 1px 1px #000;
}

.welcome-buttons {
  width: 80%;
  margin: 0 auto;
  display: inline;

}

.es-btn {
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid #FFF;
  color: #FFF;
  margin: 0.5rem 0.3rem;
  width: 60%;
  padding: 0.5rem;
}

.quote-btn {
  border-radius: 10px;
  background-color: #3A429A;
  border: 1px solid #3A429A;
  color: #FFF;
  margin: 0.5rem 0.3rem;
  width: 60%;
  padding: 0.5rem;
}

.es-btn:hover, .quote-btn:hover  {
  border: 1px solid #3A429A;
  background-color: #FFF;
  color: #3A429A;
}


@media only screen and (min-width: 600px) {
  .welcome-banner {
    width: 30rem;
    margin: auto 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .welcome-banner {
    width: 35rem;
    margin: auto 5rem;
  }

  .mlm-header {
    text-shadow: 2px 2px #000;
  }
}

/*
ABOUT US SECTION
*/

.about-section {
  color: #37000A;
  padding: 2.5rem 5vw 3rem;
  background: rgba(0, 152, 194, 0.1);
  min-height: 75vh;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .about-section {
    padding: 15vh 10vw 10vh;
  }

}

.team-img {
  margin: 1rem auto 3rem;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
}

div.about-section p {
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .team-img {
    margin: 2rem auto 5rem;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .team-img {
    width: 20rem;
    height: 20rem;
    float: right;
    margin-left: 5rem;
  }
  div.about-section p {
    text-align: justify;
  }
}

/*
OUR SERVICES SECTION
*/

.service-section {
  color: #37000A;
  padding: 15vh 5vw 10vh;
  min-height: 75vh;
  /* background: rgb(0, 152, 194, 0.1) */
}

@media only screen and (min-width: 992px) {
  .service-section {
    padding: 15vh 10vw 10vh;
  }

}

/*
CONTACT SECTION
*/

.hide {
  visibility: hidden;
}

.contact-section {
  color: #fff;
  padding: 10vh 5vw 5vh;
  background: rgba(58, 66, 154, 0.8);
}

div.contact-section p {
  font-size: 0.8rem;
}

div.contact-section .section-header {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.soc-icon-container {
  text-align: center;
}

.soc-icon {
  font-size: 1.5rem;
  margin: 1rem 1rem 2rem;
  color: #FFF;
}

.contact-hr {
  width: 30%;
  color: #FFF;
  border: 1px solid #FFF;
  margin: 2rem auto;
}
@media only screen and (min-width: 600px) {
  div.contact-section p {
    font-size: 1rem;
  }
}

/* @media only screen and (min-width: 992px) {
  div.contact-section p {
    font-size: 1.5rem;
  }
} */

.contact-page {
  margin: 5rem auto 5rem;
  padding: 0 3rem;
}

.question-header {
  text-align: center;
  color: #37000A;
  margin-bottom: 2.5rem;
}

.form-group {
  margin: 0.5rem auto 0.7rem;
}

.submit-btn {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #FFF;
  border-radius: 5px;
  background: rgba(58, 66, 154, 1);

}

.submit-btn:hover {
  color: #FFF;
  border: 1px solid #3A429A;
  background-color: rgba(58, 66, 154, 0.8);

}

/*
FOOTER
*/

footer {
  text-align: center;
  margin: 1.2rem 0;
}
